<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.phonecms.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />  
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.phonecms.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Login Related Activities-->
        <activity
            android:name="cn.phonecms.main.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.LoginSuccessActivity"
            android:label="@string/app_name" >
        </activity>
          <activity
            android:name="cn.phonecms.main.CompanyLoginSuccessActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Register Related Activities-->
        <activity
            android:name="cn.phonecms.main.RegisterAccountActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.RegisterAccountSuccessActivity"
            android:label="@string/app_name" >
        </activity>
               
        <activity
            android:name="cn.phonecms.main.RegisterCompanyActivity"
            android:label="@string/app_name" >
        </activity>    
        <activity
            android:name="cn.phonecms.main.RegisterCompanySuccessActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Activity Related Activities-->

        <activity
            android:name="cn.phonecms.main.ManageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.AddActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.ModifySpecificActivity"
            android:label="@string/app_name" >
        </activity>
         <!-- Select picture Activities-->
       <activity
            android:name="cn.phonecms.main.SelectPicActivity"
            android:label="@string/app_name" >
        </activity>
        
       <!-- Product Related Activities-->
       <activity
            android:name="cn.phonecms.main.ManageProductActivity"
            android:label="@string/app_name" >
        </activity>
              <activity
            android:name="cn.phonecms.main.AddProductActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.ModifySpecificProductActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Company Related Activities-->
       <activity
            android:name="cn.phonecms.main.ManageCompanyActivity"
            android:label="@string/app_name" >
        </activity>
              <activity
            android:name="cn.phonecms.main.AddCompanyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.ModifySpecificCompanyActivity"
            android:label="@string/app_name" >
        </activity>
         <!-- Comment Related Activities-->
       <activity
            android:name="cn.phonecms.main.ManageCommentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.AddCommentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.ModifySpecificCommentActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="cn.phonecms.network.UploadUtil"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.cache.BitmapCache"
            android:label="@string/app_name" >
        </activity>
        
         <!-- SubCompany Related Activities-->
         <activity
            android:name="cn.phonecms.main.ManageSubCompanyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.AddSubCompanyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.ModifySpecificSubCompanyActivity"
            android:label="@string/app_name" >
        </activity>   
         <!-- Recruit Related Activities-->
         <activity
            android:name="cn.phonecms.main.ManageRecruitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.AddRecruitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.ModifySpecificRecruitActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- Feedback Related Activities-->
        <activity
            android:name="cn.phonecms.main.ManageFeedbackActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.ModifySpecificFeedbackActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.phonecms.main.AddFeedbackActivity"
            android:label="@string/app_name" >
        </activity>
         
    </application>

</manifest>
